/* /styles/footer.css*/

html, body {
    height: 100%; /* Full viewport height */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allows it to take up the available vertical space */
    box-sizing: border-box;
}

footer {
    background-color: #F3E1E1;
    height: 70px; /* Fixed footer height */
    border-top: 8px solid rgba(235, 199, 196, 0.20);
    flex-shrink: 0; /* Ensure footer does not shrink */
}
