/* /styles/glimpse.css*/
/* global for staypositive and all other project pages that share same className(s)*/
.project-description { 
    color: #5C4033;
    font-family: "Kameron";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 75%;
    margin-left: 12.5%;
}

.image-container {
    flex: 1; /* Ensures it grows with the content */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 500px; /* Enforce a minimum height to stabilize layout */
    overflow: hidden; /* Prevent any scroll within the container */
}

.image-gallery {
    max-width: 60%;
    height: auto; /* Allow content to size naturally */
}

.description-bottom { 
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-left: 12.5%;
    max-width: 1100px;
}

.project-description-divider {
    width: 1px;
    height: 800px;
    border-right: 8px solid rgba(235, 199, 196, 1.0);

    position: relative;
}

 .project-description-bottom {
    color: #5C4033;
    font-family: "Kameron";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-left: 20px;
    padding-right: 20px;
 } 

 .glimpse-subtitle-bottom {
    text-decoration: underline;
 }

 .glimpse-code-bottom-title {
    font-style: italic;
 }

.projects-footer {
    background-color: #F3E1E1;
    height: 70px; 
    border-top: 8px solid rgba(235, 199, 196, 0.20);
    flex-shrink: 0; 
}

.projects-links {
    text-decoration: none;
}
