/* src/styles/header.css */

html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    width: 100%;  
    overflow-x: hidden; /* prevent horizontal scroll */
}

header {
    background-color: #F3E1E1;
    width: 1440px;
    height: 80px;
    flex-shrink: 0;
    margin-bottom: 100px;

    border-bottom: 8px solid rgba(235, 199, 196, 0.20);
}

.header-names {
    display: flex;
    justify-content: right;
}

.names {
    color: #5C4033;
    font-family: "Pixelify Sans";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;

    padding-right: 40px;
    padding-left: 20px;
    padding-top: 25px;
}
