/* src/styles/header.css */

html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    width: 100%;  
    overflow-x: hidden; /* prevent horizontal scroll */
}

header {
    background-color: #F3E1E1;
    height: 50px;
    flex-shrink: 0;
    border-bottom: 8px solid rgba(235, 199, 196, 0.20);
    margin-bottom: 100px;
}

.header-names {
    display: flex;
    justify-content: right;
}

.names {
    position: relative;
    color: #5C4033;
    font-family: 'DM Sans', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding-right: 40px;
    padding-left: 20px;
    padding-top: 15px;
    transition: color 200ms ease;
}

.names::after {
    content: "";
    position: absolute;
    right: 40px;
    bottom: -0px;
    left: 20px;
    height: 1.5px;
    background-color: #3D2921;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease;
}

.names:hover,
.names:focus-visible {
    color: #3D2921;
}

.names:hover::after,
.names:focus-visible::after {
    transform: scaleX(1);
}
