/* src/styles/App.css */
body {
  height: 100vh;
  
}

.home-main-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.profile-img {
  width: 500px;
  height: auto;
  margin-left: 20px;
}

.title {
  color: #5C4033;
  font-family: "Pixelify Sans";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 125px;
}

.description {
  color: #5C4033;
  font-family: Kameron;
  font-size: 25px;
  font-style: normal;
  line-height: normal;

  width: 761px;
}

.footer {
  background-color: #F3E1E1;
  height: 70px; /* Fixed footer height */
  border-top: 8px solid rgba(235, 199, 196, 0.20);
  flex-shrink: 0; /* Ensure footer does not shrink */
  margin-top: 50px;
}
