/* src/styles/App.css */
main {
  height: 100vh;
  
}

.title {
  color: #5C4033;
  font-family: "Pixelify Sans";
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-top: 250px;
  margin-left: 600px;
}

.description {
  color: #5C4033;
  font-family: Kameron;
  font-size: 25px;
  font-style: normal;
  line-height: normal;

  width: 761px;
  margin-left: 600px;
}